<div class= "wrapper d-flex flex-column ">
  <h1 class= "title text-center"> Todo list</h1>
  <div class= " row justify-content-center">
    <div class = "todo-wrapper d-flex flex-column ">
      <app-header></app-header>
      <app-todo-list></app-todo-list>
      <app-footer></app-footer>
    </div>
  </div>
  <!-- <button type="button" class="btn btn-danger">Primary</button> -->
  <small class= "instruction text-center">
    <em>Press Enter to add new todo.Press arrow icon to toggle todos</em>
    <br>
    Copyright TodosVMC Project
  </small>
</div>





